[package]
name = "parser"
version = "0.1.0"
edition = "2024"

[build-dependencies]
lalrpop = "0.22.2"

[dependencies]
lalrpop-util = { version = "0.22.2", features = ["lexer", "unicode"] }
rustyline = "17.0.2"
regex = "1.12.3"
